.hero-card {
  position: relative;
  display: flex;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
    padding: fluid(50, 20);
    background-color: var(--color-cyan);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__image {
    @include laptop-s {
      max-width: 560px;
      object-fit: cover;
    }

    @include tablet {
      display: none;
    }
  }

  &__badge {
    position: absolute;
    top: 50px;
    left: 50%;
    translate: -50%;

    @include laptop-s {
      display: none;
    }
  }
}

.category {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.tags {
  &__list {
    display: flex;
    column-gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px 16px;
    background-color: var(--color-dark-5);
    border-radius: var(--border-radius);
    color: var(--color-black);
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--color-dark-60);
  }
}

.author-card {
  display: flex;
  align-items: center;
  column-gap: 16px;
  align-self: start;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    line-height: 1;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--color-black);
  }

  &__date {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--color-dark-60);
  }
}
