.header {
  padding-block: fluid(40, 15);
  border-bottom: var(--border);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__menu {
    @include mobile {
      position: fixed;
      z-index: var(--layer-mobile-menu);
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color-white);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      gap: fluid(60, 30);
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: var(--color-black);

      @include mobile {
        overflow-y: auto;
        flex-direction: column;
        padding-block: 30px;
      }
    }

    &-link {
      position: relative;

      &::after {
        @include abs-center;

        content: '';
        width: calc(100% + 32px);
        height: 44px;
      }
    }
  }

  &__soc1als {
    @include mobile {
      margin-left: auto;
    }
  }

  &__burger-button {
    z-index: var(--layer-mobile-menu);
  }
}